<ion-view id="Login" hide-nav-bar="false">

    <ion-content padding="true" scroll="false">   
        <form name="loginForm">
            <div class="row responsive-md">
                <div class="col col-50 col-offset-25">
                <br /><br />
                    <div class="header padding text-center">
                        <img src="img/logo.png" alt="Logo" height="150px" weight="150px"/>
                    </div>
                    <div>
                      <label class="item item-input" >
                            <input type="email" placeholder="Email" required ng-model="user.email">
                      </label>
                      <label class="item item-input" >
                          <input type="password" placeholder="Password" required ng-model="user.password">
                      </label>
                       
                      <br />
                      <button class="button button-block button-login" ng-disabled="loginForm.$invalid" ng-click="login()">
                        Sign In
                      </button>
                     </div>

                    <div >
                        <div class="col text-center">
                        <button class="button button-clear" ng-click="signUp()">
                                Sign Up
                            </button><br />
                            <button class="button button-clear" ng-click="forgotPassword()">
                                Forgot Password?
                            </button>                             
                        </div>

                    </div>
                </div>
            </div>

             
        </form>
    </ion-content>
</ion-view>
